{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="col-md-12">
        {% for group in groups %}
            <div class="col-md-4">
                <h2>Grupa {{ group.Nazwa }} ({{ group.studenci_set.count }}/{{ students_max.value }})</h2>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in group.studenci_set.all %}
                        <tr>
                            <td>{{ student.ID_studenta }} </td>
                            <td>{{ student.imie }}</td>
                            <td>{{ student.nazwisko }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
