<head>
	<link rel="stylesheet" href="../CSS/style.css">
	<script src="../JS/skrypt.js"></script>
</head>

<body>
    <!-- navbar -->
    <div class="topnav">
        <a class="active" href="#home">System zarządzania studentami</a>
        <div class="topnav-right">
            <button class="open-button" onclick="openForm()">Wyloguj</button>
        </div>
    </div>
	<div id="content">
		<div id="groups">
		<table id="grouptable">
		<tr>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
			<th>
			<div class="grupa">
				<div class="col-md-12">
					<div class="col-md-4">
						<h2>Grupa 1</h2>
						<table class="table table-striped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Imię</th>
								<th>Nazwisko</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>162345</td>
									<td>Wojciech</td>
									<td>Nowakowski</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="join"><button>zgłoś chęć dołączenia</button></div>
			</th>
		</tr>
		</table>
		</div>
		<div id="allchat">
			<div class="chattitle">Czat ogólny</div>
			<div class="chatbox">test czatboxu</div>
			<div class="sendbox">
			<form>
				<input type="text" placeholder="Napisz wiadomość" />
				<button type="submit">Wyślij</button>
			</form>
			</div>		
		</div>
	</div>
</body>