{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li class=""><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
        <li class=""><a href="{% url 'login' %}">default</a></li>
        <li class=""><a href="{% url 'login' %}">default</a></li>
        <li class=""><a href="{% url 'login' %}">default</a></li>
        <li class=""><a href="{% url 'login' %}">default</a></li>
        <li class=""><a href="{% url 'login' %}">default</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<div style="padding-top: 70px;">
    <!-- Your content here -->
</div>
<!--
-->